.header {
    padding: 0px 0 56px;
}

.container{
    position: relative;
    width: 100%;
}

.header__row{
    display: flex;
    column-gap: 2rem;
    align-items: start;
    justify-content: space-between;
}

.header__page{
    background-color: rgba(255,218,236,255);
}

.header__logo{
    display: flex;
    align-items: center;
    column-gap: 0.3rem;

}

.header__logo span {
    font-weight: 600;
    font-size: 2rem;
    line-height: 1.5;
    color: rgb(37, 150, 190);

}

.header__nav{
    display: flex;
    list-style: none;
    justify-items: end;
}

.header__nav a{
    color: rgb(37, 150, 190);
    text-decoration: none;
}

.header__page1 {
    margin-right: 3.625rem;
    border: 2px solid transparent;
    padding: 17px 64px;
    border-radius: 10px;
    font-size: 35px;
    list-style: none;
    font-weight: 600;
    font-style: italic;
    width: 19rem;
    gap: normal;
    background-color: rgba(255,218,236,255);
}

.header__page2 {
    margin-right: 0.7rem;
    border: 2px solid transparent;
    padding: 17px 64px;
    border-radius: 10px;
    font-size: 35px;
    list-style: none;
    font-weight: 600;
    font-style: italic;
    width: 19rem;
    gap: normal;
    background-color: rgba(255,218,236,255);
}

.header__page:hover {
    border-color: #82BBB5;
}